@import '../common/vars';

body {
    display: grid;
    grid-auto-rows: 1fr 218px;
    height: 100vh;
    margin: 0;
    background-color: $white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $black;
}

div {
    box-sizing: border-box;
}
