@import '../common/vars';

body {
    margin: 0;
    background-color: $white;
    grid-template-rows: 60px 200px 60px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $black;
}
