<div class="catalog">
    <div class="catalog__filter">
        filter
    </div>
    <div class="catalog__items">
        <div class="catalog__item">
            <div class="catalog__item-inner">tovar</div>
        </div>
        <div class="catalog__item">
            <div class="catalog__item-inner">tovar</div>
        </div>
        <div class="catalog__item">
            <div class="catalog__item-inner">tovar</div>
        </div>
        <div class="catalog__item">
            <div class="catalog__item-inner">tovar</div>
        </div>
        <div class="catalog__item">
            <div class="catalog__item-inner">tovar</div>
        </div>
        <div class="catalog__item">
            <div class="catalog__item-inner">tovar</div>
        </div>
        <div class="catalog__item">
            <div class="catalog__item-inner">tovar</div>
        </div>
        <div class="catalog__item">
            <div class="catalog__item-inner">tovar</div>
        </div>
        <div class="catalog__item">
            <div class="catalog__item-inner">tovar</div>
        </div>
    </div>
</div>