<header class="header">
    <div class="header__container">
        <div class="header__logo logo">
            <a href="index.html">2U4U</a>
        </div>
        <div class="header__search">
            <input class="input" type="text" value="" placeholder="Введите наименование...">
            <i class="header__search-icon fas fa-search"></i>
        </div>
        <div class="header__top-menu top-menu">
            <ul class="top-menu__items">
                <li class="top-menu__item">
                    Каталог
                    <ul class="top-menu__submenu submenu">
                        <li class="submenu__item">
                            <i class="submenu__item-icon far fa-lightbulb"></i>
                            <a href="../catalog.html">Лампы</a>
                        </li>
                        <li class="submenu__item">
                            <i class="submenu__item-icon far fa-lightbulb"></i>
                            <a href="../catalog.html">Светильники</a>
                        </li>
                        <li class="submenu__item">
                            <i class="submenu__item-icon far fa-lightbulb"></i>
                            <a href="../catalog.html">Коммерческое освещение</a>
                        </li>
                        <li class="submenu__item">
                            <i class="submenu__item-icon far fa-lightbulb"></i>
                            <a href="../catalog.html">Декоративное освещение</a>
                        </li>
                        <li class="submenu__item">
                            <i class="submenu__item-icon far fa-lightbulb"></i>
                            <a href="../catalog.html">Комплектующие</a>
                        </li>
                    </ul>
                </li>
                <li class="top-menu__item">
                    <a href="#">Акции</a>
                </li>
                <li class="top-menu__item">
                    <a href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</header>
