<section class="middle-menu">
    <div class="middle-menu__items">
        <a href="../catalog.html" class="middle-menu__item">
            <span class="middle-menu__title">Лампочки</span>
        </a>
        <a href="../catalog.html" class="middle-menu__item">
            <span class="middle-menu__title">Светильники</span>
        </a>
        <a href="../catalog.html" class="middle-menu__item">
            <span class="middle-menu__title">Коммерческое освещение</span>
        </a>
        <a href="../catalog.html" class="middle-menu__item">
            <span class="middle-menu__title">Декоративное освещение</span>
        </a>
        <a href="../catalog.html" class="middle-menu__item middle-menu__item_full-width">
            <span class="middle-menu__title">Комплектующие</span>
        </a>
    </div>
</section>
