@import '../common/vars';
@import '../common/_mixins';
@import './top-menu';

.header {
    width: 100%;
    max-height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 101;

    &__container {
        @include content-width;
        padding: 0 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.main-content {
    padding-top: $header-height;
}
