@import '../common/vars';
@import '../common/_mixins';
@import './logo';
@import './top-menu';
@import './submenu';
@import '../inputs/input';

.header {
    width: 100%;
    max-height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $blue;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 101;

    &__container {
        @include content-width;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        min-width: 300px;
    }
}

.main-content {
    padding-top: $header-height;
}
