@import '../common/vars';

.top-menu {

    &__items {
        display: flex;
    }

    &__item {
        position: relative;
        padding: 16px 15px;
        color: $white;
        text-transform: uppercase;
        cursor: default;

        &:hover {
            color: $silver-calice; 
        }

        a {
            color: $white;

            &:hover {
                color: $silver-calice; 
            }
        }

        &:first-child {

            &:hover {

                .submenu {
                    opacity: 1;
                    visibility: visible;
                    transition: .2s;
                }
            }
        }
    }
}
