@import '../common/vars';

.top-menu {

    &__items {
        display: flex;
    }

    &__item {
        position: relative;
        padding: 16px 15px;
        color: $white;
        text-transform: uppercase;
        cursor: default;
        transition: .2s;

        &:hover {
            color: $silver-calice;
            transition: .2s;
        }

        a {
            color: $white;
            transition: .2s;

            &:hover {
                color: $silver-calice;
                transition: .2s;
            }
        }

        &:first-child {

            &:hover {

                .submenu {
                    opacity: 1;
                    visibility: visible;
                    transition: .2s;
                }
            }
        }
    }

    &__submenu {
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
    }
}
