@import '../common/vars';

.footer-list {
    color: $white;

    &__title {
        margin-bottom: 10px;
        font-size: 16px;
    }

    &__items {
        margin-bottom: 10px;
    }

    &__item {
        position: relative;
        padding: 5px 5px 5px 25px;
        cursor: default;

        &:hover {

            .footer-list__item-icon {

                &.fa-lightbulb {
                    color: $yellow;
                    transition: .5s;
                }
            }
        }

        a {
            color: $white;
        }
    }

    &__item-icon {
        position: absolute;
        left: 0;
        transition: .5s;
    }
}